In [1]:
import pandas as pd

data = pd.read_csv('telegram_chat_logs.csv')
data.head()

,Time and date,chat_id,First name,Last name,message/caption,chat type
0,"29-01-2023, 21:14:36",5713845912,Karnam,Shyam,hii,private
1,"29-01-2023, 21:23:38",5713845912,Karnam,Shyam,/start,private
2,"29-01-2023, 21:23:42",5713845912,Karnam,Shyam,/help,private
3,"29-01-2023, 21:23:45",5713845912,Karnam,Shyam,hii,private
4,"29-01-2023, 21:23:54",5713845912,Karnam,Shyam,how are you,private

In [2]:
data

,Time and date,chat_id,First name,Last name,message/caption,chat type
0,"29-01-2023, 21:14:36",5713845912,Karnam,Shyam,hii,private
1,"29-01-2023, 21:23:38",5713845912,Karnam,Shyam,/start,private
2,"29-01-2023, 21:23:42",5713845912,Karnam,Shyam,/help,private
3,"29-01-2023, 21:23:45",5713845912,Karnam,Shyam,hii,private
4,"29-01-2023, 21:23:54",5713845912,Karnam,Shyam,how are you,private
5,"29-01-2023, 21:24:05",5713845912,Karnam,Shyam,NaN,private
6,"29-01-2023, 21:24:27",5713845912,Karnam,Shyam,NaN,private
7,"29-01-2023, 21:24:45",5713845912,Karnam,Shyam,NaN,private
8,"29-01-2023, 21:25:06",5713845912,Karnam,Shyam,thanks,private
9,"29-01-2023, 21:25:09",5713845912,Karnam,Shyam,bye,private